.footer {
    display: flex;
    justify-content: center;
    font-size: var(--body-text);
}

.hyperlink {
    display: inline-flex;
    justify-content: space-between;
    font-size: var(--body-text);
}