.ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    max-width: none;
    padding: 0;
}

.ul, .hyperlink {
    margin: 10px;
    color: var(--black);
    font-size: var(--body-text);
}

.hyperlink:hover {
    opacity: 50%;
}


